.modal {
    display: none;
  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
  
    background: rgba(170, 167, 167, 0.9);
    
  }
  
  .active {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .modal__content {
    position: relative;
    width: 30%;
    height: 30%;
    background: rgb(255, 255, 255);
    z-index: 3;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* @media screen and (max-width: 1450) {
    .modal__content {
      width: 50%;
    }
  } */