.input {
    width: 100%;
    margin: 0 0 10px;
    outline: none;
    padding: 8px 12px;
    border: 1px solid rgb(151, 35, 35);
    color: rgb(151, 35, 35);
    border-radius: 12px;
    font-size: 16px;
}


@media  (max-width: 560px) {
    .input {
        font-size: 14px;
    }
  }