.li {
    /* width: 33%; */
    position: relative;
    margin: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(88, 88, 88);
    border-radius: 12px;
    transition: all .2s linear;
}

.li:hover {
    background-color: rgb(117, 117, 117);
}

.li:hover .name,
.li:hover .date {
    color: rgb(251, 204, 48);
}

.li:hover .img {
    filter:blur(5px);
}

.img {
    width: 150px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: all .2s linear;
}

.name {
    color: rgb(219, 175, 54);
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
    transition: all .2s linear;
}

.date {
    color: rgb(219, 175, 54);
    font-size: 14px;
    font-weight: 400;
    margin: 5px 5px 0 5px;
    transition: all .2s linear;
}

.a {
    text-decoration: none;
    transition: all .2s linear;
}


