.header {
    background-color: rgb(88, 88, 88);
    height: 100px;
}

/* .container {
    margin: 0 30px;
} */

.avatar {
    width: 80px;
    height: 100px;
    object-fit: cover;
}

.contant {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left {
    margin-right: 20px;
}

.name {
    font-size: 26px;
    font-weight: 700;
    color: rgb(219, 175, 54);
    margin-bottom: 5px;
}

.age {
    font-size: 16px;
    font-weight: 500;
    color: rgb(219, 175, 54);
}