.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    position: relative;
}



.text {
    
    font-size: 20px;
    font-weight: 600;
    color: rgb(151, 35, 35);
    margin-bottom: 10px;
}



.date {
    
    font-size: 16px;
    font-weight: 600;
    color: rgb(151, 35, 35);
}




.hr {
    height: 1px;
    width: 100%;
    border: none;
    background: rgb(88, 88, 88);
    color: rgb(88, 88, 88);
}



