.btnDelite {
    border: none;
    cursor: pointer;
    width: 16px;
    height: 2px;
    background-color: rgb(151, 35, 35);
    position: absolute;
    top: 20px;
    right: -42px;
    z-index: 1;
    transform: rotate(45deg);
}

.btnDelite::after {
    content: '';
    width: 16px;
    height: 2px;
    background-color: rgb(151, 35, 35);
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}